{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Monitor API Documentation",
    "description" : "This file provides all documentation for the monitor API in the OpenAPI format.",
    "version" : "V1.0.0"
  },
  "servers" : [ {
    "url" : "https://izen.cast4all.energy/flexMon/v1",
    "description" : "Server dynamically inferred from API documentation request."
  } ],
  "security" : [ {
    "clientApiUser" : [ ]
  } ],
  "paths" : {
    "/apiaccounts/{apiAccountId}" : {
      "get" : {
        "tags" : [ "ApiAccount Apis" ],
        "summary" : "Retrieve a single ApiAccount",
        "operationId" : "getApiAccountDetails",
        "parameters" : [ {
          "name" : "apiAccountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiAccountOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apiaccounts" : {
      "get" : {
        "tags" : [ "ApiAccount Apis" ],
        "summary" : "Retrieve all ApiAccount objects",
        "operationId" : "getApiAccountDetailsList",
        "parameters" : [ {
          "name" : "apiMeterType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseApiAccountOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseApiAccountOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apimeasurements/{apiMeasurementId}" : {
      "get" : {
        "tags" : [ "ApiMeasurement Apis" ],
        "summary" : "Retrieve a single ApiMeasurement",
        "operationId" : "getApiMeasurementDetails",
        "parameters" : [ {
          "name" : "apiMeasurementId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiMeasurementOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apimeasurements" : {
      "get" : {
        "tags" : [ "ApiMeasurement Apis" ],
        "summary" : "Retrieve all ApiMeasurement objects",
        "operationId" : "getApiMeasurementDetailsList",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseApiMeasurementOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseApiMeasurementOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apimeasurementtypes/{apiMeasurementTypeId}" : {
      "get" : {
        "tags" : [ "ApiMeasurementType Apis" ],
        "summary" : "Retrieve a single ApiMeasurementType",
        "operationId" : "getApiMeasurementTypeDetails",
        "parameters" : [ {
          "name" : "apiMeasurementTypeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiMeasurementTypeOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apimeasurementtypes" : {
      "get" : {
        "tags" : [ "ApiMeasurementType Apis" ],
        "summary" : "Retrieve all ApiMeasurementType objects",
        "operationId" : "getApiMeasurementTypeDetailsList",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseApiMeasurementTypeOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseApiMeasurementTypeOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apimeters/createRemoteDevice" : {
      "post" : {
        "tags" : [ "ApiMeter Apis" ],
        "summary" : "Executing the command createRemoteDevice",
        "operationId" : "createRemoteDevice",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiMeterCreateRemoteDevicePostInputModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apimeters/{apiMeterId}" : {
      "get" : {
        "tags" : [ "ApiMeter Apis" ],
        "summary" : "Retrieve a single ApiMeter",
        "operationId" : "getApiMeterDetails",
        "parameters" : [ {
          "name" : "apiMeterId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiMeterOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apimeters" : {
      "get" : {
        "tags" : [ "ApiMeter Apis" ],
        "summary" : "Retrieve all ApiMeter objects",
        "operationId" : "getApiMeterDetailsList",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "plantId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serialNumber",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "apiMeterType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "apiAccount",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseApiMeterOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseApiMeterOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apimeters/pullRemoteDevice" : {
      "post" : {
        "tags" : [ "ApiMeter Apis" ],
        "summary" : "Executing the command pullRemoteDevice",
        "operationId" : "pullRemoteDevice",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiMeterPullRemoteDevicePostInputModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apimetertypes/{apiMeterTypeId}" : {
      "get" : {
        "tags" : [ "ApiMeterType Apis" ],
        "summary" : "Retrieve a single ApiMeterType",
        "operationId" : "getApiMeterTypeDetails",
        "parameters" : [ {
          "name" : "apiMeterTypeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiMeterTypeOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apimetertypes" : {
      "get" : {
        "tags" : [ "ApiMeterType Apis" ],
        "summary" : "Retrieve all ApiMeterType objects",
        "operationId" : "getApiMeterTypeDetailsList",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseApiMeterTypeOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseApiMeterTypeOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eventtypes/{eventTypeId}" : {
      "get" : {
        "tags" : [ "EventType Apis" ],
        "summary" : "Retrieve a single EventType",
        "operationId" : "getEventTypeDetails",
        "parameters" : [ {
          "name" : "eventTypeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventTypeOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eventtypes" : {
      "get" : {
        "tags" : [ "EventType Apis" ],
        "summary" : "Retrieve all EventType objects",
        "operationId" : "getEventTypeDetailsList",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseEventTypeOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseEventTypeOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notifiertemplate/{notifierTemplateId}" : {
      "get" : {
        "tags" : [ "NotifierTemplate Apis" ],
        "summary" : "Retrieve a single NotifierTemplate",
        "operationId" : "getNotifierTemplateDetails",
        "parameters" : [ {
          "name" : "notifierTemplateId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotifierTemplateOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notifiertemplate" : {
      "get" : {
        "tags" : [ "NotifierTemplate Apis" ],
        "summary" : "Retrieve all NotifierTemplate objects",
        "operationId" : "getNotifierTemplateDetailsList",
        "parameters" : [ {
          "name" : "code",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseNotifierTemplateOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseNotifierTemplateOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token" : {
      "post" : {
        "tags" : [ "Authentication Apis" ],
        "operationId" : "postToken",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          }
        }
      }
    },
    "/controltypes/byMeter" : {
      "get" : {
        "tags" : [ "ControlType Apis" ],
        "summary" : "Retrieve ControlTypes for a meter",
        "operationId" : "getControlTypeByMeterDetailsList",
        "parameters" : [ {
          "name" : "meter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ControlTypeByMeterOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ControlTypeByMeterOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/controltypes/{controlTypeId}" : {
      "get" : {
        "tags" : [ "ControlType Apis" ],
        "summary" : "Retrieve a single ControlType",
        "operationId" : "getControlTypeDetails",
        "parameters" : [ {
          "name" : "controlTypeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ControlTypeOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/controltypes" : {
      "get" : {
        "tags" : [ "ControlType Apis" ],
        "summary" : "Retrieve all ControlType objects",
        "operationId" : "getControlTypeDetailsList",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseControlTypeOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseControlTypeOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/aggregationdayvalues" : {
      "get" : {
        "tags" : [ "AggregationDayValue Apis" ],
        "summary" : "Retrieve all AggregationDayValue objects",
        "operationId" : "getAggregationDayValueDetailsList",
        "parameters" : [ {
          "name" : "measurement",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromTimestart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toTimestart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "fromPeriodStart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toPeriodStart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "installation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "measurementType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseAggregationDayValueOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseAggregationDayValueOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/aggregationmonthvalues" : {
      "get" : {
        "tags" : [ "AggregationMonthValue Apis" ],
        "summary" : "Retrieve all AggregationMonthValue objects",
        "operationId" : "getAggregationMonthValueDetailsList",
        "parameters" : [ {
          "name" : "measurement",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromTimestart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toTimestart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "fromPeriodStart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toPeriodStart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "installation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "measurementType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseAggregationMonthValueOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseAggregationMonthValueOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/aggregationyearvalues" : {
      "get" : {
        "tags" : [ "AggregationYearValue Apis" ],
        "summary" : "Retrieve all AggregationYearValue objects",
        "operationId" : "getAggregationYearValueDetailsList",
        "parameters" : [ {
          "name" : "measurement",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromTimestart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toTimestart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "fromPeriodStart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toPeriodStart",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "installation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "measurementType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseAggregationYearValueOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseAggregationYearValueOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alarms/{alarmId}/addComment" : {
      "post" : {
        "tags" : [ "Alarm Apis" ],
        "summary" : "Executing the command addComment",
        "operationId" : "addComment",
        "parameters" : [ {
          "name" : "alarmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlarmAddCommentPostInputModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alarms/{alarmId}" : {
      "get" : {
        "tags" : [ "Alarm Apis" ],
        "summary" : "Retrieve a single Alarm",
        "operationId" : "getAlarmDetails",
        "parameters" : [ {
          "name" : "alarmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlarmOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alarms" : {
      "get" : {
        "tags" : [ "Alarm Apis" ],
        "summary" : "Retrieve all Alarm objects",
        "operationId" : "getAlarmDetailsList",
        "parameters" : [ {
          "name" : "installation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "descriptionContains",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resolution",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "priority",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromCreatedOn",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toCreatedOn",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "fromTimestamp",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toTimestamp",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "measurement",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventTypeAnyOf",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseAlarmOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseAlarmOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alarms/{alarmId}/setToClosed" : {
      "post" : {
        "tags" : [ "Alarm Apis" ],
        "summary" : "Executing the command setToClosed",
        "operationId" : "setToClosed",
        "parameters" : [ {
          "name" : "alarmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlarmSetToClosedPostInputModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alarms/{alarmId}/setToPending" : {
      "post" : {
        "tags" : [ "Alarm Apis" ],
        "summary" : "Executing the command setToPending",
        "operationId" : "setToPending",
        "parameters" : [ {
          "name" : "alarmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlarmSetToPendingPostInputModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/commands/{commandExternalId}" : {
      "get" : {
        "tags" : [ "Command Apis" ],
        "summary" : "Retrieve a single Command",
        "operationId" : "getCommandDetails",
        "parameters" : [ {
          "name" : "commandExternalId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommandOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/commands" : {
      "get" : {
        "tags" : [ "Command Apis" ],
        "summary" : "Retrieve all Command objects",
        "operationId" : "getCommandDetailsList",
        "parameters" : [ {
          "name" : "installation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "measurement",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enteredOn",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "performedOn",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseCommandOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseCommandOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{eventId}" : {
      "get" : {
        "tags" : [ "Event Apis" ],
        "summary" : "Retrieve a single Event",
        "operationId" : "getEventDetails",
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events" : {
      "get" : {
        "tags" : [ "Event Apis" ],
        "summary" : "Retrieve all Event objects",
        "operationId" : "getEventDetailsList",
        "parameters" : [ {
          "name" : "installation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "measurement",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromTimestamp",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toTimestamp",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromCreatedOn",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toCreatedOn",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseEventOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseEventOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/installations/{installationId}/assignToInstallationPool" : {
      "post" : {
        "tags" : [ "Installation Apis" ],
        "summary" : "Executing the command assignToInstallationPool",
        "operationId" : "assignToInstallationPool",
        "parameters" : [ {
          "name" : "installationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InstallationAssignToInstallationPoolPostInputModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/installations/{installationId}/createDashboardUser" : {
      "post" : {
        "tags" : [ "Installation Apis" ],
        "summary" : "Executing the command createDashboardUser",
        "operationId" : "createDashboardUser",
        "parameters" : [ {
          "name" : "installationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InstallationCreateDashboardUserPostInputModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/installations" : {
      "get" : {
        "tags" : [ "Installation Apis" ],
        "summary" : "Retrieve all Installation objects",
        "operationId" : "getInstallationDetailsList",
        "parameters" : [ {
          "name" : "alarmStatus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromInstallationDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toInstallationDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "identification",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "emailAddress",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "street",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "houseNumber",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "zipCode",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "city",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "country",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resident",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "custom01",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "custom02",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "custom03",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "custom04",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "custom05",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fullTextSearch",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clientUserGroup",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isResidentUserNull",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "isCommunicatorNull",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "hasRegisteredMeters",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "description" : "The number of items requested (if available) for the page of the paginated results.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Request a specific ordering of fields. Must be formatted as a comma separated list with `<fieldName>:<order>`, where order must be `asc` or `desc`. When the order is omitted, `asc` is used.",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9]+(:(asc|desc))?(,[a-zA-Z0-9]+(:(asc|desc))?)*)?$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseInstallationOutputListModel"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedResponseInstallationOutputListModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Installation Apis" ],
        "summary" : "Create a new Installation",
        "operationId" : "createInstallation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InstallationPostInputModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreatedResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/installations/{installationId}/deleteDashboardUser" : {
      "post" : {
        "tags" : [ "Installation Apis" ],
        "summary" : "Executing the command deleteDashboardUser",
        "operationId" : "deleteDashboardUser",
        "parameters" : [ {
          "name" : "installationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/installations/{installationId}" : {
      "get" : {
        "tags" : [ "Installation Apis" ],
        "summary" : "Retrieve a single Installation",
        "operationId" : "getInstallationDetails",
        "parameters" : [ {
          "name" : "installationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InstallationOutputModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Access denied",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
[...]
